In [1]:
import pandas as pd

In [2]:
table_df = pd.read_csv("vine_table.csv")

In [3]:
table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N
904764,R2XJJXFZOM36V5,5.0,17.0,19.0,N,N

In [4]:
table_df.dropna()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N
904764,R2XJJXFZOM36V5,5.0,17.0,19.0,N,N

In [5]:
review_table = table_df["total_votes"] >= 20
review_table

0         False
1         False
2         False
3         False
4         False
          ...
904760     True
904761     True
904762     True
904763     True
904764    False
Name: total_votes, Length: 904765, dtype: bool

In [6]:
review_table_df = table_df[review_table]
review_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y
...,...,...,...,...,...,...
904759,R2EJ952S3YK254,4.0,46.0,47.0,N,N
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N

In [7]:
helpful_votes_percentage = (table_df["helpful_votes"]/table_df["total_votes"])*100
helpful_votes_percentage

0           0.000000
1                NaN
2           0.000000
3                NaN
4                NaN
             ...
904760     96.621622
904761    100.000000
904762     93.103448
904763     93.877551
904764     89.473684
Length: 904765, dtype: float64

In [8]:
review_table_df.insert(1, "helpful_percentage", helpful_votes_percentage)

In [9]:
filter_df = review_table_df["helpful_percentage"] >= 50
filter_df

28        True
85        True
457       True
1028      True
1039      True
          ...
904759    True
904760    True
904761    True
904762    True
904763    True
Name: helpful_percentage, Length: 16520, dtype: bool

In [10]:
review_table_df = review_table_df[filter_df]
review_table_df

,review_id,helpful_percentage,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,77.049180,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,91.304348,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,97.368421,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,89.189189,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,95.833333,3.0,23.0,24.0,N,Y
...,...,...,...,...,...,...,...
904759,R2EJ952S3YK254,97.872340,4.0,46.0,47.0,N,N
904760,R6MDTUK723YPY,96.621622,4.0,143.0,148.0,N,N
904761,R10B4417NCK98O,100.000000,5.0,24.0,24.0,N,N
904762,R3V2A0GUZ3JAQ4,93.103448,4.0,27.0,29.0,N,N
904763,R1VYXC7FFG4LGH,93.877551,4.0,46.0,49.0,N,N

In [11]:
vine_yes = review_table_df["vine"] == "Y"

In [12]:
vine_no = review_table_df["vine"] == "N"

In [13]:
vine_yes_df = review_table_df[vine_yes]

In [14]:
vine_no_df = review_table_df[vine_no]

In [15]:
vine_yes_df

,review_id,helpful_percentage,star_rating,helpful_votes,total_votes,vine,verified_purchase
4229,R1R9RU7JW0MFR2,86.956522,4.0,20.0,23.0,Y,N
9120,R19EFYNN3W8Q07,81.250000,5.0,26.0,32.0,Y,N
34704,R34DJ1R8AEU0SG,82.857143,5.0,29.0,35.0,Y,N
38510,R25P5CXK5L9RHF,90.683230,5.0,146.0,161.0,Y,N
49330,R2E9VZB3I4LSN5,93.220339,5.0,55.0,59.0,Y,N
73488,RKYLHZL7EPELX,76.000000,4.0,19.0,25.0,Y,N
177563,R1U13EKGQD3ZE6,88.000000,5.0,22.0,25.0,Y,N
190962,RYW05F1MUEF01,85.294118,5.0,87.0,102.0,Y,N
227822,R2SW4NXNO7HZJ5,84.848485,4.0,28.0,33.0,Y,N
237635,R2016NFLSUR97Y,70.270270,2.0,26.0,37.0,Y,N
307453,RFCV9QXJ3D79X,90.909091,3.0,20.0,22.0,Y,N
312863,R36779ZAY4ZT0Y,92.000000,3.0,46.0,50.0,Y,N
316563,R13PPTBWWV10Q6,76.000000,5.0,19.0,25.0,Y,N
357373,R2A3FFNJTDUBMV,74.074074,5.0,20.0,27.0,Y,N
366816,R3QQG4HUB214TM,86.718750,5.0,111.0,128.0,Y,N
366973,R3J9OSJNJB7KGM,87.500000,5.0,70.0,80.0,Y,N
367038,RIMYDUAAFXY2U,95.652174,5.0,22.0,23.0,Y,N
394836,R22CYBPLKWDK6F,87.037037,5.0,47.0,54.0,Y,N
400167,R1ETBDZ1LJ8CEL,87.500000,4.0,28.0,32.0,Y,N
403075,R28T5ISQ8AA7E5,95.238095,5.0,40.0,42.0,Y,N
423840,R1OIXASHDMAU84,87.500000,5.0,35.0,40.0,Y,N
425838,R2XBIPOLCU015D,82.142857,4.0,23.0,28.0,Y,N
428102,R30FS6HFPQ1WKT,93.181818,5.0,41.0,44.0,Y,N
436145,R6BXKPVUVXBTT,91.489362,4.0,43.0,47.0,Y,N
440256,RX4P0ENQPW8JW,83.333333,3.0,20.0,24.0,Y,N
443846,R33G6UUWX1SZ1W,87.804878,4.0,36.0,41.0,Y,N
447381,R3NGT6QJHCUOKV,89.473684,4.0,34.0,38.0,Y,N
492630,R4KIRC319GP61,82.608696,5.0,19.0,23.0,Y,N
495259,R1UZW5KV87WUA1,86.666667,5.0,26.0,30.0,Y,N
497969,R1I98OVWL8N0X,57.142857,3.0,16.0,28.0,Y,N
508562,R113X83B4OZYF8,78.723404,3.0,37.0,47.0,Y,N
509123,R394FJYWZ0GNFG,93.023256,5.0,40.0,43.0,Y,N
510047,R3QE0Q8R65G2M9,92.857143,5.0,52.0,56.0,Y,N
513953,RARYFB85E8YSK,80.645161,5.0,25.0,31.0,Y,N
519257,R295FZN1I3KSQM,94.666667,5.0,71.0,75.0,Y,N
522139,R2VRYZV3N49TJ0,87.878788,4.0,29.0,33.0,Y,N
537659,R27L14PCLC87MI,95.890411,5.0,70.0,73.0,Y,N
544991,R6PO4CRQ8RWVP,94.444444,4.0,34.0,36.0,Y,N
559334,RP24DFOZY82Z9,92.307692,5.0,24.0,26.0,Y,N
559377,R2CCHT4ZV5ZM5X,88.000000,4.0,22.0,25.0,Y,N
577368,R2UP2773CHKTE3,93.421053,5.0,71.0,76.0,Y,N
594070,R1HZ9P5BJJZWNU,89.705882,3.0,61.0,68.0,Y,N
596862,R35BSD0RCM94I2,88.275862,3.0,128.0,145.0,Y,N
635654,R2ZVYKSW84Z47N,95.714286,5.0,67.0,70.0,Y,N
637573,R2Q5W1NNKF8ESR,83.333333,5.0,20.0,24.0,Y,N
640709,R1YGI7SDJBIITA,87.012987,3.0,67.0,77.0,Y,N
641839,R2UJHZ50AMCITI,100.000000,5.0,22.0,22.0,Y,N
641917,R3VHUT5HS9V22R,79.166667,4.0,19.0,24.0,Y,N
644593,R25AJSJ49JA89T,96.825397,5.0,61.0,63.0,Y,N
652098,R1WYQYB9KX1WM1,88.888889,5.0,32.0,36.0,Y,N
658817,ROIU1G8UOP20L,63.636364,3.0,14.0,22.0,Y,N
680512,R2ID3IBRNPEAKZ,91.304348,5.0,42.0,46.0,Y,N
736368,R1LLUVTO5GEFHS,97.560976,4.0,40.0,41.0,Y,N
742766,RAGY9ISHYAS08,86.363636,4.0,19.0,22.0,Y,N
759938,R3HCAEISSZTOPF,82.456140,5.0,47.0,57.0,Y,N
761174,RMCGLOIUS31A0,73.333333,5.0,22.0,30.0,Y,N
766961,R2XWB7UZBANOS3,90.000000,4.0,18.0,20.0,Y,N
816778,R2YI9KHLBCF0NF,75.555556,5.0,34.0,45.0,Y,N
816859,R2HT2LBF48R9HC,68.421053,5.0,26.0,38.0,Y,N
820981,R3Q3WCJO38879H,100.000000,4.0,25.0,25.0,Y,N

In [16]:
vine_no_df

,review_id,helpful_percentage,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,77.049180,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,91.304348,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,97.368421,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,89.189189,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,95.833333,3.0,23.0,24.0,N,Y
...,...,...,...,...,...,...,...
904759,R2EJ952S3YK254,97.872340,4.0,46.0,47.0,N,N
904760,R6MDTUK723YPY,96.621622,4.0,143.0,148.0,N,N
904761,R10B4417NCK98O,100.000000,5.0,24.0,24.0,N,N
904762,R3V2A0GUZ3JAQ4,93.103448,4.0,27.0,29.0,N,N
904763,R1VYXC7FFG4LGH,93.877551,4.0,46.0,49.0,N,N

In [17]:
total_reviews = review_table_df["review_id"].count()
total_reviews

14537

In [18]:
total_5 = review_table_df.loc[(review_table_df["star_rating"] == 5)]
total_5

,review_id,helpful_percentage,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,77.049180,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,91.304348,5.0,21.0,23.0,N,Y
1028,R3FL2NTLFUSPTQ,89.189189,5.0,33.0,37.0,N,N
1140,R36V6V42VN5AS5,91.891892,5.0,34.0,37.0,N,Y
1646,R27LZWE27BJPOB,95.652174,5.0,22.0,23.0,N,N
...,...,...,...,...,...,...,...
904748,R10FN99OXUBU4S,96.666667,5.0,29.0,30.0,N,Y
904751,R5RYJ0C4NHAD5,85.436893,5.0,88.0,103.0,N,N
904754,R3UOYMRRUTZO81,81.818182,5.0,27.0,33.0,N,N
904758,RL9RHVRAB625V,83.333333,5.0,20.0,24.0,N,N
904761,R10B4417NCK98O,100.000000,5.0,24.0,24.0,N,N

In [26]:
# Total Vine reviews
total_yesvine_reviews = vine_yes_df["star_rating"].count()
total_yesvine_reviews

60

In [27]:
# Total Non Vine Reviews
total_novine_reviews = vine_no_df["star_rating"].count()
total_novine_reviews

14477

In [21]:
yesfive_star_count = vine_yes_df.loc[(vine_yes_df["star_rating"] == 5), "star_rating"]
yesfive_star_count

9120      5.0
34704     5.0
38510     5.0
49330     5.0
177563    5.0
190962    5.0
316563    5.0
357373    5.0
366816    5.0
366973    5.0
367038    5.0
394836    5.0
403075    5.0
423840    5.0
428102    5.0
492630    5.0
495259    5.0
509123    5.0
510047    5.0
513953    5.0
519257    5.0
537659    5.0
559334    5.0
577368    5.0
635654    5.0
637573    5.0
641839    5.0
644593    5.0
652098    5.0
680512    5.0
759938    5.0
761174    5.0
816778    5.0
816859    5.0
Name: star_rating, dtype: float64

In [22]:
nofive_star_count = vine_no_df.loc[(vine_no_df["star_rating"] == 5), "star_rating"]
nofive_star_count

28        5.0
85        5.0
1028      5.0
1140      5.0
1646      5.0
         ...
904748    5.0
904751    5.0
904754    5.0
904758    5.0
904761    5.0
Name: star_rating, Length: 8212, dtype: float64

In [24]:
# Non Vine reviews that are 5 stars
fivestarnovine_reviews = nofive_star_count.count()
fivestarnovine_reviews

8212

In [25]:
# Vine reviews that are 5 stars
fivestaryesvine_reviews = yesfive_star_count.count()
fivestaryesvine_reviews

34

In [34]:
y_percentage = (fivestaryesvine_reviews/total_yesvine_reviews)*100
n_percentage = (fivestarnovine_reviews/total_novine_reviews)*100

print(f'Paid 5-Star Rating Percentage: {y_percentage} % \nUnpaid 5-Star Rating Percentage: {n_percentage} %')

Paid 5-Star Rating Percentage: 56.666666666666664 %
Unpaid 5-Star Rating Percentage: 56.72445948746287 %